@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
/** 
font-family: 'Shadows Into Light', cursive;
 font-family: 'Indie Flower', cursive;
**/

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Shadows Into Light', cursive;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 100;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
header .logo{
    position: relative;
    font-size: 3em;
    color: white;
    text-transform: uppercase;
    font-weight: 750;
    text-decoration: none;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 1);
    transition: 0.5s;
}
header .toggle{
    position: relative;
    width: 40px;
    height: 40px;
    background: url(/Menu.png) ;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .toggle::before{
    content: 'Menu';
    position: absolute;
    right: 45px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    font-size: 15px;
    padding: 2px 5px;
    background: white;
    color: black;
}
header .toggle.active{
    background: url(/close.png) ;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 25px;
}
header .toggle.active::before{
    content: 'Close';
}
.glass{
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    z-index: 1;
    backdrop-filter: blur(15px);
    box-shadow: 10px 0 15px rgba(0, 0, 0, 1);
    transition: 0.5s;
    transition-delay: 1s;
}
section.active .glass{
    width: 100%;
    backdrop-filter: blur(20px);
    transition-delay: 0s;
}
.content{
    position: relative;
    z-index: 10;
    text-align: center;
    transition: 0.5s;
    transition-delay: 1s;
}
.content h2{
    position: relative;
    color: white;
    font-size: 10vw;
    line-height: 0.60em;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 1);
    font-family: 'Indie Flower', cursive;
}
section .content h2 span{
    font-size: 0.3em;
    font-weight: 300;
    letter-spacing: 5px;
    background: white;
    color: black;
    padding: 0 10px;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 1);
    text-transform: uppercase;
    font-family: 'Indie Flower', cursive;
}
section.active .content{
    opacity: 0;
    visibility: hidden;
    transform: translateX(-200px);
    transition-delay: 0s;
}
section .sci{
    position: absolute;
    bottom: 40px;
    right: 100px;
    display: flex;
    z-index: 100;
}
section .sci li{
    list-style: none;
    margin: 5px;
    padding: 0 5px;
    background: white;
    transition: 0.5s;
    transition-delay: calc(0.2s * var(--i));
}
section .sci li a{
    color: black;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
}
section.active .sci li {
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
}
section .navi{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
section .navi li{
    list-style: none;
    text-align: center;
    margin: 15px 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    transform: translateX(200px);

}
section .navi li a{
    color: black;
    font-size: 1.5em;
    letter-spacing: 4px;
    text-decoration: none;
    font-weight: 350;
    text-transform: uppercase;
    background: white;
    padding: 5px 10px;
    display: inline-block;
}
section .navi li a:hover{
    background: black;
    color: white;
    letter-spacing: 10px;
    text-transform: lowercase;
}
section.active .navi li{
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
}